.page-wrapper {overflow: hidden;}

.grid {
margin: 0 auto;
padding: 0 15px;

  @mixin atMedium {
  max-width:1230px;
}

&--xsm {
    @mixin atMedium {
    max-width:510px;
  }
}

&--sm {
    @mixin atMedium {
    max-width:830px;
  }
}

&--md {
    @mixin atMedium {
    max-width:1054px;
  }
}
}

.row {
padding:0;
margin:0;
display: block;
@mixin clearfix;

&--m-negative-t-atMedium {
  margin-top:-4rem;
  position: relative;
}

&--gutters-md {
  padding: 0 8px;
  margin:0 -16px;
}

&--gutters-md > .col{
padding:0 8px;
}

&--gutters-lg {
  padding: 0 12px;
  margin:0 -24px;
}

&--gutters-lg > .col{
  padding: 0 12px;
}

&--gutters-xl {
  padding: 0 16px;
  margin:0 -32px;
}

&--gutters-xl > .col{
padding:0 16px;
}

&--gutters-xxl {
padding: 0 25px;
margin:0 -50px;
}

&--gutters-xxl  .col{
padding:0 25px;
}
.col {
  position: relative;
  float:left;
  width:100%;
  @mixin clearfix;

  &--nostack {
    min-height:1px;
    &__1 {width: 8.333%;}
    &__2 {width: 16.66%;}
    &__3 {width: 25%;}
    &__4 {width:33.333%}
    &__5 {width: 41.66%;}
    &__6 {width: 50%;}
    &__7 {width: 58.33%;}
    &__8 {width: 66.66%;}
    &__9 {width: 75%;}
    &__10 {width: 83.33%;}
    &__11 {width: 91.66%;}
    &__12 {width: 100%}
  }

  @mixin atSmall {

  &--sm__1 {width: 8.333%;}
  &--sm__2 {width: 16.66%;}
  &--sm__3 {width: 25%;}
  &--sm__4 {width:33.333%}
  &--sm__5 {width: 41.66%;}
  &--sm__6 {width: 50%;}
  &--sm__7 {width: 58.33%;}
  &--sm__8 {width: 66.66%;}
  &--sm__9 {width: 75%;}
  &--sm__10 {width: 83.33%;}
  &--sm__11 {width: 91.66%;}
  &--sm__12 {width: 100%}
}

  @mixin atMedium {

  &--md__1 {width: 8.333%;}
  &--md__2 {width: 16.66%;}
  &--md__3 {width: 25%;}
  &--md__4 {width:33.333%}
  &--md__5 {width: 41.66%;}
  &--md__6 {width: 50%;}
  &--md__7 {width: 58.33%;}
  &--md__8 {width: 66.66%;}
  &--md__9 {width: 75%;}
  &--md__10 {width: 83.33%;}
  &--md__11 {width: 91.66%;}
  &--md__12 {width: 100%}
}
}

.flexbox &--equal-heights {
@mixin atMedium {
display: flex;

& > .col {
  float: none;
  display: flex;
}

}
}

}

.hide-sm {
@mixin maxMedium{
display:none;
}
}


.hide-md {
@mixin atMedium{
display:none;
}
}
