svg {vertical-align: middle;}
.icon {
  width:32px; height:32px;

  &--button {width:18px; height: 18px;}

  &--boxed {
    width:37px; height:37px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px 0 color( var(--color2) alpha(.25));
    border-radius: 2px;
  }

  &--white{
    fill:#fff;
  }

  &--brand-1{
    fill: var(--color1);
}

&--brand-2{
  fill: var(--color2);
}

}
