.reveal-item {
  visibility: hidden;
  opacity: 0;
  transition:.5s ease-out;
  transform-origin: 50%;
  transform: scale(.95);

&--is-visible {
  visibility: visible;
  opacity: 1;
  transform:  scale(1);
}

}
