/*vars*/
:root {
/*theme3 */
}
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main { /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, /* 1 */
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.noscroll {
overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color:--color2;
  background: #fff;
  line-height: 1.8;
  color: rgb(119, 131, 143);
  border-radius: 3px;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
img {
  width:100%;
  max-width: 100%;
  height: auto;
}
img.native {
  width: auto;
  max-width: auto;
  height: auto;
}
.text-offset {
  text-indent:-99999px;
  margin:0;
  padding:0;
  overflow: hidden;
  height:0;

}
.offset-top-neg {
  margin-top:-100px;
  position: relative;
}
.pos-rel {position: relative;}
.page-wrapper {overflow: hidden;}
.grid {
margin: 0 auto;
padding: 0 16px;
}
@media (min-width: 769px) {
.grid {
max-width:1230px;
}
}
@media (min-width: 769px) {
.grid--xsm {
max-width:510px;
}
}
@media (min-width: 481px) {
.grid--sm {
max-width:830px;
}
}
@media (min-width: 481px) {
.grid--md {
max-width:1054px;
}
}
.row {
padding:0 0;
margin:0 0;
display: block

}
.row:after {
content:"";
clear:both;
display: table;
}
.row--m-negative-t-atMedium {
  margin-top:-64px;
  margin-top:-4rem;
  position: relative;
}
.row--gutters-md {
  padding: 0 8px;
  margin:0 -16px;
}
.row--gutters-md > .col {
padding:0 8px;
}
.row--gutters-lg {
  padding: 0 12px;
  margin:0 -24px;
}
.row--gutters-lg > .col {
  padding: 0 12px;
}
.row--gutters-xl {
  padding: 0 16px;
  margin:0 -32px;
}
.row--gutters-xl > .col {
padding:0 16px;
}
.row--gutters-xxl {
padding: 0 25px;
margin:0 -50px;
}
.row--gutters-xxl  .col {
padding:0 25px;
}
.row .col {
  float:left;
  width:100%;
}
.row .col:after {
content:"";
clear:both;
display: table;
}
.row .col--nostack {
  min-height: 1px;
}
.row .col--nostack__1 {width: 8.333%;}
.row .col--nostack__2 {width: 16.66%;}
.row .col--nostack__3 {width: 25%;}
.row .col--nostack__4 {width:33.333%}
.row .col--nostack__5 {width: 41.66%;}
.row .col--nostack__6 {width: 50%;}
.row .col--nostack__7 {width: 58.33%;}
.row .col--nostack__8 {width: 66.66%;}
.row .col--nostack__9 {width: 75%;}
.row .col--nostack__10 {width: 83.33%;}
.row .col--nostack__11 {width: 91.66%;}
.row .col--nostack__12 {width: 100%}
@media (min-width: 481px) {
.row .col--sm__1 {width: 8.333%;
}
.row .col--sm__2 {width: 16.66%;
}
.row .col--sm__3 {width: 25%;
}
.row .col--sm__4 {width:33.333%;
}
.row .col--sm__5 {width: 41.66%;
}
.row .col--sm__6 {width: 50%;
}
.row .col--sm__7 {width: 58.33%;
}
.row .col--sm__8 {width: 66.66%;
}
.row .col--sm__9 {width: 75%;
}
.row .col--sm__10 {width: 83.33%;
}
.row .col--sm__11 {width: 91.66%;
}
.row .col--sm__12 {width: 100%;
}
}
@media (min-width: 769px) {
.row .col {
min-height: 1px;
}
.row .col--md__1 {width: 8.333%;
}
.row .col--md__2 {width: 16.66%;
}
.row .col--md__3 {width: 25%;
}
.row .col--md__4 {width:33.333%;
}
.row .col--md__5 {width: 41.66%;
}
.row .col--md__6 {width: 50%;
}
.row .col--md__7 {width: 58.33%;
}
.row .col--md__8 {width: 66.66%;
}
.row .col--md__9 {width: 75%;
}
.row .col--md__10 {width: 83.33%;
}
.row .col--md__11 {width: 91.66%;
}
.row .col--md__12 {width: 100%;
}
}
@media (min-width: 769px) {
.flexbox .row--equal-heights {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.flexbox .row--equal-heights > .col {
float: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
}
@media (max-width: 769px) {
.hide-sm {
display:none;
}
}
@media (min-width: 769px) {
.hide-md {
display:none;
}
}
svg {vertical-align: middle;}
.icon {
  width:32px; height:32px;

}
.icon--button {width:18px; height: 18px;}
.icon--boxed {
    width:37px; height:37px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(28, 49, 68, 0.25);
            box-shadow: 0 1px 2px 0 rgba(28, 49, 68, 0.25);
    border-radius: 2px;
  }
.icon--white{
    fill:#fff;
  }
.icon--brand-1{
    fill: #1282A2;
}
.icon--brand-2{
  fill: #1C3144;
}
button, .button {
border:none;
color:#fff;
background-color:#401F3E;
padding: 8px 15px 5px 15px;
border-radius:4px;
border-bottom: 4px solid rgb(61, 29, 59);
-webkit-box-shadow: 0 2px 2px 0 rgba(28, 49, 68, 0.5);
        box-shadow: 0 2px 2px 0 rgba(28, 49, 68, 0.5);
-webkit-transition: 0.3s;
transition: 0.3s;
font-weight:300;
display: inline-block;
text-decoration: none;
cursor:pointer;
text-align: center;

}
button--lg, .button--lg {
  font-size:24px;
  font-size:1.5rem;
}
button--fw, .button--fw {
  width:100%;
}
button:hover:not(:disabled), .button:hover:not(:disabled) {
background-color: rgb(45, 22, 43);
border-bottom-color: rgb(42, 20, 40);
-webkit-box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.35);
        box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.35);
color:#fff;
}
button--brand-1, .button--brand-1 {
background-color:#1282A2;
border-bottom: 4px solid rgb(17, 124, 154);
}
button--brand-1:hover:not(:disabled), .button--brand-1:hover:not(:disabled) {
background-color: rgb(13, 91, 113);
border-bottom-color: rgb(12, 85, 105);
-webkit-box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.35);
        box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.35);
}
button:disabled { opacity: 0.1}
button.lg, .button.lg {font-size: 24px;font-size: 1.5rem;}
/*site-header*/
.site-header {
  width: 100%



}
.site-header:after {
content:"";
clear:both;
display: table;
}
.site-header {
background: rgba(24, 42, 58, 0.2);
-webkit-transition: background-color 0.3s ease-out;
transition: background-color 0.3s ease-out;
}
@media (min-width: 769px) {
.site-header {
position: fixed;
height: 60px;
z-index: 5;
}
}
.site-header__hide {
    z-index: 1;
}
.site-header__logo-wrapper {
    position: relative;
}
.site-header__logo-graphic {
    width: 230px;
    height: 67px;
}
@media (min-width: 769px) {
.site-header__logo-graphic {
width: 191.66667px;
height: 55.83333px;
}
}
.site-header__logo {
    background-color: #1C3144;
    position: absolute;
    padding: 15px;
    left:50%;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: translate3d(-50%, 0, 0) scale3d(0.7, 0.7, 0.7);
            transform: translate3d(-50%, 0, 0) scale3d(0.7, 0.7, 0.7);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 5;

    border-radius: 0 0 8px 8px;
    border: 1px solid rgb(21, 37, 51);
}
@media (max-width: 769px) {
.site-header__logo--transparent {
background-color:transparent;
-webkit-transform: translate3d(-50%, 15px, 0) scale3d(0.42, 0.42, 0.42);
        transform: translate3d(-50%, 15px, 0) scale3d(0.42, 0.42, 0.42);
border:none;
}
}
@media (min-width: 769px) {
.site-header__logo {
left:0;
-webkit-transform-origin: 0 0;
        transform-origin: 0 0;
-webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
}
}
@media (min-width: 769px) {
.site-header--is-scrolling {
background-color: rgba(28, 49, 68, 0.95);
}
.site-header--is-scrolling .site-header__logo {
background-color: rgba(28, 49, 68, 0);
border-radius: 0 0 0 0;
-webkit-transform: scale3d(.69, .69, .69);
        transform: scale3d(.69, .69, .69);

}
.site-header--is-scrolling .site-header__logo {
background:  rgb(21, 37, 51);
border:none;
}
}
.site-header__menu-icon {
  width:25px;
  height: 25px;
  position: absolute;
  top:15px;
  right:15px;
  z-index: 2;
}
.site-header__menu-icon::before {
content:"";
position: absolute;
top:0;
left:0;
width:100%;
height: 5px;
background-color: #fff;
-webkit-transition: 0.3s;
transition: 0.3s;
}
.site-header__menu-icon__bar,
.site-header__menu-icon__bar--back {
  position: absolute;
  top:10px;
  left:0;
  width:100%;
  height: 5px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.site-header__menu-icon::after {
content:"";
position: absolute;
bottom:0;
left:0;
width:100%;
height: 5px;
background-color: #fff;
-webkit-transition: 0.3s;
transition: 0.3s;
}
@media (min-width: 769px) {
.site-header__menu-icon {
display:none;
}
}
.site-header__menu-icon--close-x::before {
-webkit-transform: scale(0);
        transform: scale(0);
opacity:0;
}
.site-header__menu-icon--close-x .site-header__menu-icon__bar {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
}
.site-header__menu-icon--close-x .site-header__menu-icon__bar--back {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
}
.site-header__menu-icon--close-x::after {
-webkit-transform: scale(0);
        transform: scale(0);
opacity:0;
}
.site-nav {
position:absolute;
width:100%;
-webkit-transform-origin: top;
        transform-origin: top;
-webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
background-color: rgba(28, 49, 68, 0.9);
padding: 70px 18px 18px 18px;
text-align: center;
opacity: 1;
z-index: 1;

}
@media (max-width: 769px) {
.site-nav {
-webkit-transition: 0.3s;
transition: 0.3s;
}
}
@media (max-width: 769px) {
.site-nav--is-visible {
-webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
-webkit-box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.5);
        box-shadow: 0 6px 6px 0 rgba(28, 49, 68, 0.5);
opacity: 1;
}
}
.site-nav a {
display: inline-block;
padding: 8px 8px;
color: #fff;
font-weight: 300;
text-decoration: none;
text-transform: uppercase;
font-size: 14.4px;
font-size: .9rem;
line-height: 1;
}
@media (min-width: 769px) {
.site-nav a {
letter-spacing: 2px;
font-size: 1rem;
background-color:transparent;
border-radius:0px;
margin: 0;
opacity: 0.75;
-webkit-transition: opacity .15s linear;
transition: opacity .15s linear;
-webkit-box-shadow: none;
        box-shadow: none;
}
}
.site-nav a--is-current-link {
color: #000;
}
.site-nav a:hover {
opacity: 1;
}
@media (min-width: 769px) {
.site-nav a::after {
display:block;
height: 1px;
background: #fff;
content: "";
margin-top:5px;
-webkit-transition: height .15s linear;
transition: height .15s linear;
}
.site-nav a:hover::after {
height: 5px;
}
}
@media (min-width: 769px) {
.site-nav a {
padding: 15px 15px;
}
}
@media (min-width: 769px) {
.site-nav {
position: relative;
text-align: right;
width:100%;
color:#fff;
padding:  0;
background-color: transparent;
-webkit-transform: translateX(0);
        transform: translateX(0);
opacity: 1;
}
.site-nav a {
display: inline-block;
}
}
.hero {
text-align: center;
background: rgb(18, 130, 162);
color:#fff;
position: relative;
overflow: hidden;
z-index: 0;
}
@media (min-width: 769px) {
.hero {
min-height:55vh;
}
}
@media (min-width: 769px) {
.hero {
-webkit-clip-path: polygon(
0 0,
100% 0,
100% 100%,
0 calc(100% - 5vw)
);
        clip-path: polygon(
0 0,
100% 0,
100% 100%,
0 calc(100% - 5vw)
);
}
}
.hero::after {
display:block;
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
content: "";
background-color: rgba(28, 49, 68, 0.3);
z-index: 1;
}
.hero--small {
padding: 100px 0 20px 0;
-webkit-clip-path: none;
        clip-path: none;
}
.hero__image {
position: absolute;
top:0;
z-index: 0;
-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
-webkit-transform: translate3d(-50%, 0, 0) scale3d(1.2, 1.2, 1.2);
        transform: translate3d(-50%, 0, 0) scale3d(1.2, 1.2, 1.2);
}
.hero__image--scale-pan {
-webkit-animation: scale-pan-blur 16s infinite;
        animation: scale-pan-blur 16s infinite;
min-width:680px;
}
.hero__image--scale {
margin-left: auto;
margin-right: auto;
min-width: 1200px;
-webkit-animation: scale 8s;
        animation: scale 8s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

}
.hero__content {
position: relative;
margin:100px 0 30px 0;
z-index: 2;
}
@media (min-width: 769px) {
.hero__content {
margin:160px 0;
margin:10rem 0;
}
}
.headline {
color: #1C3144;

font-weight: 400;
margin: 0;
padding: 0;
line-height: 1.3;

}
.headline--mgn-b-lg {
  margin-bottom:32px;
  margin-bottom:2rem;
}
.headline--mgn-b-md {
margin-bottom:16px;
margin-bottom:1rem;
}
.headline--mgn-b-sm {
margin-bottom:8px;
margin-bottom:.5rem;
}
.headline--centered {
  text-align: center;
}
.headline--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
.headline--light {
  font-weight: 100;
  }
.headline--lg {
    font-size:        28.8px;
    font-size:        1.8rem;
  }
@media (min-width: 769px) {
.headline--lg {
font-size: 40px;
font-size: 2.5rem;
}
}
@media (min-width: 1079px) {
.headline--lg {
font-size: 64px;
font-size: 4rem;
}
}
.headline--md {
    font-size:        22.4px;
    font-size:        1.4rem;
}
@media (min-width: 769px) {
.headline--md {
font-size: 32px;
font-size: 2rem;
}
}
@media (min-width: 1079px) {
.headline--md {
font-size: 40px;
font-size: 2.5rem;
}
}
.headline--sm {
    font-size:        19.2px;
    font-size:        1.2rem;
}
@media (min-width: 769px) {
.headline--sm {
font-size: 24px;
font-size: 1.5rem;
}
}
@media (min-width: 1079px) {
.headline--sm {
font-size: 32px;
font-size: 2rem;
}
}
.headline--xsm {
    font-size:        16px;
    font-size:        1rem;
}
@media (min-width: 769px) {
.headline--xsm {
font-size: 17.6px;
font-size: 1.1rem;
}
}
@media (min-width: 1079px) {
.headline--xsm {
font-size: 19.2px;
font-size: 1.2rem;
}
}
/*color variations*/
.headline--white {
color: #fff;
text-shadow: 0px 1px 2px rgba(28, 49, 68, 0.3);
}
.headline--brand-1 {
color: rgb(219, 236, 241);
text-shadow: 0px 1px 2px rgba(28, 49, 68, 0.3);
}
.headline--bottom-margin {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.headline--bottom-margin-sm {
  margin-bottom: 1em;
}
/* end heading */
.hr {
  display: block;
  height: 1px;
  background-color: #fff;
  border: none;
  max-width: 50%;
  margin: 15px auto;

}
.hr--white-grad {
    background: rgba (255,255,255,0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 1)), color-stop(70%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  }
.hr--dark-grad {
    background: rgb(187, 193, 199);
    background: -webkit-gradient(linear, left top, right top, from(rgba(187, 193, 199, 0)), color-stop(30%, rgb(187, 193, 199)), color-stop(70%, rgb(187, 193, 199)), to(rgba(187, 193, 199, 0)));
    background: linear-gradient(to right, rgba(187, 193, 199, 0) 0%, rgb(187, 193, 199) 30%, rgb(187, 193, 199) 70%, rgba(187, 193, 199, 0) 100%);
  }
.page-section:after {
content:"";
clear:both;
display: table;
}
.page-section {
padding:32px 0 32px 0;
padding:2rem 0 2rem 0;
z-index: 1;
width:100%;
}
@media (min-width: 769px) {
.page-section {
padding:4rem 0 4rem 0;
}
}
.page-section--pad-md {
padding:24px 0 24px 0;
padding:1.5rem 0 1.5rem 0;
}
.page-section--pad-sm {
padding:16px 0 16px 0;
padding:1rem 0 1rem 0;
}
.page-section--no-pad-b {
  padding-bottom: 0;
}
.page-section--centered {
text-align: center;
}
.page-section--white {
background-color:#fff;
}
.page-section--brand-1 {
background-color: #1282A2;
}
.page-section--light-grey {
background-color: rgb(232, 234, 236);
}
@media (min-width: 769px) {
.page-section--mgn-v-offset {
position: relative;
margin-top: -144px;
margin-top: -9rem;
}
}
.ad:after {
content:"";
clear:both;
display: table;
}
.ad {
position: relative;
width: 100%;
height: auto;
margin: 0 0 32px 0;
margin: 0 0 2rem 0;
display: block;
}
.ad--no-mgn-b {margin: 0 0 0 0;
}
@media (min-width: 769px) {
.ad {
margin: 0 0 0 0;
}
}
.ad__button-wrapper--center {
text-align: center;
}
.ad--mgn-b-sm {
margin:0 0 32px 0;
margin:0 0 2rem 0;
}
.ad--mgn-b-md {
margin:0 0 48px 0;
margin:0 0 3rem 0;
}
.ad--shadow {
-webkit-box-shadow: 0px 0px 24px 3px rgba(28, 49, 68, 0.25);
        box-shadow: 0px 0px 24px 3px rgba(28, 49, 68, 0.25);
background:#fff;
}
.ad--hover-animation:hover .ad__image {
left:50%;
-webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
-webkit-transform: translate3d(-50%, -10%, 0) scale3d(1.2, 1.2, 1.2);
        transform: translate3d(-50%, -10%, 0) scale3d(1.2, 1.2, 1.2);
-webkit-transition:.4s ease-in;
transition:.4s ease-in;
}
.ad__badges {
  position: absolute;
  top:-20px;
  left:0;
  width: 100%;
  text-align: center;
  z-index: 4;
}
.ad__badges img {
width:44px;
height:auto;
}
.ad__image-wrapper {
  position: relative;
  min-height: 200px;
  height: 240px;
  overflow: hidden;
  background-color: #1282A2;
  border:1px solid #fff;
}
@media (min-width: 769px) {
.ad__image-wrapper {
-webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 1.25vw)
  );
        clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 1.25vw)
  );
}
}
.ad__image {
  position: absolute;
  width:120%;
  height: 120%;
  background-size: cover;
  background-position: center center;
  -webkit-transition:.2s ease-out;
  transition:.2s ease-out;
  left:50%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
}
.ad__image--websites {
    background-image: url('../../assets/images/devicessm.jpg');
}
.ad__image--devices {
    background-image: url('../../assets/images/bkg-devicessm.jpg');
}
.ad__image--design {
    background-image: url('../../assets/images/creativemediasm.jpg');

    background-position: top;
}
.ad__image--logo {
    background-image: url('../../assets/images/logo-cruisesoon-blue.png');
}
.ad__image--cellphone {
background-image: url('../../assets/images/cellphone.jpg')
}
.ad__image--rikk {
    background-image: url('../../assets/images/photo-rikk-ogden72.jpg');
}
.ad__image--rikk-lg {
    /* background-image: url('../../assets/images/photo-hero-image-rikk72.jpg');
    background-position:  center 30%; */
}
.ad__image::after {
display:block;
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
content: "";
background-color: rgba(1, 7, 8, 0.5);
z-index: 1;
}
.ad__image-content {
  position: absolute;
  width: 100%;
  top:50%;
  left:0;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  text-align: center;
  z-index: 2;
  padding: 0 15px;
}
.ad__content {
  padding: 8px 24px 8px 24px;
  padding: .5rem 1.5rem .5rem 1.5rem;
  font-weight: 300;
}
.ad__content-header {
  margin: 0 0 0.5em 0;;
  line-height: 1;
  color: #1C3144;
}
/*Layout Modifiers*/
.ad--left-to-right .ad__image-content {
padding: 24px;
padding: 1.5rem;
}
@media (max-width: 769px) {
.ad--left-to-right .ad__content {
padding: 8px 0 0 0;
padding: 0.5rem 0 0 0;
}
}
@media (min-width: 769px) {
.ad--left-to-right .ad__image-wrapper {
width:50%;
height: 100%;
position: absolute;
-webkit-clip-path: none;
        clip-path: none;
-webkit-box-shadow: 0px 0px 24px 3px rgba(28, 49, 68, 0.25);
        box-shadow: 0px 0px 24px 3px rgba(28, 49, 68, 0.25);
}
.ad--left-to-right .ad__content {
float:right;
width:50%;
padding: 0 24px 0 24px;
padding: 0 1.5rem 0 1.5rem;
text-align: left;
}
}
.modal {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;

  z-index: -10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;

}
.modal__overlay {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(20, 34, 48, 0.95);
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;

}
.modal__inner {
  background: #fff;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

padding-bottom: 200px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
@media (min-width: 769px) {
.modal__inner {
top:8%;
right:8%;
bottom:8%;
left:8%;
-webkit-box-shadow: 0px 0px 10px 3px rgba(14, 25, 34, 0.5);
        box-shadow: 0px 0px 10px 3px rgba(14, 25, 34, 0.5);
}
}
.modal__scrollable {
overflow-y: scroll;
height: 100%;
width:100%;
position: relative;
top:200px;
}
.modal__btn__close {
position: absolute;
top:15px;
right:15px;
width:25px;
height: 25px;
z-index: 12;
-webkit-transition: 0.5s;
transition: 0.5s;
cursor:pointer;
padding: 0;
background-color: transparent;
border:none;
-webkit-box-shadow: none;
        box-shadow: none;
}
.modal__btn__close:hover:not(:disabled)  {
background-color: transparent;
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
-webkit-box-shadow: none;
        box-shadow: none;
}
.modal__btn__close__x {
  display:block;
  content:"";
  height:5px;
  background: #fff;
  position: absolute;
  top:10px;
  width:100%;
  height: 5px;
  z-index: 13;
}
.modal__btn__close__x--left {
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}
.modal__btn__close__x--right {
-webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
.modal--is-visible {
    z-index: 100;
    visibility: visible;
    opacity: 1;
}
.modal--is-visible .modal__overlay {
visibility: visible;
opacity: 1;
}
.modal--is-visible .modal__inner {
-webkit-transform: scale(1);
        transform: scale(1);
visibility: visible;
opacity: 1;
}
.modal .ad {
position: absolute;
top:0;
left:0;
z-index: 11;
background-color: transparent;
}
.modal .ad__image-wrapper {
height: 200px;
background-color: transparent;
}
#modal-websites dt {color: #1C3144;}
.toolset dl {
margin: 0 0 0 0;
padding: 0;
}
.toolset dt {
font-size: 20.8px;
font-size: 1.3rem;
font-weight: 700;
}
.toolset dd {
font-size:14.4px;
font-size:0.9rem;
font-weight: 300;
padding: 0 0 2em 0;
margin: 0 0 0 10px;
}
.site-footer {

background-color: #1C3144;
padding: 64px 0 64px 0;
padding: 4rem 0 4rem 0;
text-align: center;
color: #fff;

}
.site-footer__text-link {
  color:#fff;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  margin: 0 0 15px 0

}
.site-footer__text-link:hover {
color: #1282A2;
-webkit-transform-origin: 50%;
        transform-origin: 50%;
-webkit-transform:scale3d(1.2,1.2,1.2);
        transform:scale3d(1.2,1.2,1.2);
}
.site-footer__text-link:hover .icon {
fill:#1282A2;
-webkit-transition: 0.15s;
transition: 0.15s;
}
/*end text link */
.site-footer__logo {
  margin-top: -112px;
  margin-top: -7rem;
  background: #1C3144;
  border-radius: 3px;
  display: inline-block;
  width:280px;
  height: 97px;
  padding: 15px 25px;



}
.back-to-top {

position: fixed;
text-align: center;
bottom:0;
right:10px;
z-index: 10;
opacity: 0.5;
-webkit-transform: translate3d( 0, 60px, 0) scale3d(1.2,1.2,1.2);
        transform: translate3d( 0, 60px, 0) scale3d(1.2,1.2,1.2);
-webkit-transition: 0.6s;
transition: 0.6s;
background: #1282A2;
border-radius: 50%;
width:38px; height: 38px;
-webkit-box-shadow: 0 1px 2px 0 rgba(28, 49, 68, 0.25);
        box-shadow: 0 1px 2px 0 rgba(28, 49, 68, 0.25)

}
.back-to-top .icon {
padding:6px;
}
.back-to-top--visible {
    -webkit-transform: translate3d( 0, -30px, 0) scale3d(1.2,1.2,1.2)  ;
            transform: translate3d( 0, -30px, 0) scale3d(1.2,1.2,1.2)  ;
    opacity: 0.5;
}
.reveal-item {
  visibility: hidden;
  opacity: 0;
  -webkit-transition:.5s ease-out;
  transition:.5s ease-out;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: scale(.95);
          transform: scale(.95);

}
.reveal-item--is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform:  scale(1);
          transform:  scale(1);
}
@-webkit-keyframes scale {
    0% {
      opacity: 0;
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
      -webkit-filter: blur(4px);
              filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        -webkit-transform: translate3d(-50%, 0, 0) scale3d(1.3, 1.3, 1.3);
                transform: translate3d(-50%, 0, 0) scale3d(1.3, 1.3, 1.3);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
        -webkit-filter: blur(15px);
                filter: blur(15px);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0) scale3d(1.6, 1.6, 1.6);
                transform: translate3d(-50%, 0, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="24" /></filter></svg>#filter');
        -webkit-filter: blur(24px);
                filter: blur(24px);
    }
}
@keyframes scale {
    0% {
      opacity: 0;
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
      -webkit-filter: blur(4px);
              filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        -webkit-transform: translate3d(-50%, 0, 0) scale3d(1.3, 1.3, 1.3);
                transform: translate3d(-50%, 0, 0) scale3d(1.3, 1.3, 1.3);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
        -webkit-filter: blur(15px);
                filter: blur(15px);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0) scale3d(1.6, 1.6, 1.6);
                transform: translate3d(-50%, 0, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="24" /></filter></svg>#filter');
        -webkit-filter: blur(24px);
                filter: blur(24px);
    }
}
@-webkit-keyframes scale-pan-blur {
    0% {
      opacity: 0;
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
      -webkit-filter: blur(4px);
              filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        -webkit-transform: translate3d(-60%, -5%, 0) scale3d(1.3, 1.3, 1.3);
                transform: translate3d(-60%, -5%, 0) scale3d(1.3, 1.3, 1.3);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
        -webkit-filter: blur(15px);
                filter: blur(15px);
    }
    100% {
        -webkit-transform: translate3d(-60%, -5%, 0) scale3d(1.6, 1.6, 1.6);
                transform: translate3d(-60%, -5%, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="24" /></filter></svg>#filter');
        -webkit-filter: blur(24px);
                filter: blur(24px);
    }
}
@keyframes scale-pan-blur {
    0% {
      opacity: 0;
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
      -webkit-filter: blur(4px);
              filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        -webkit-transform: translate3d(-60%, -5%, 0) scale3d(1.3, 1.3, 1.3);
                transform: translate3d(-60%, -5%, 0) scale3d(1.3, 1.3, 1.3);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
        -webkit-filter: blur(15px);
                filter: blur(15px);
    }
    100% {
        -webkit-transform: translate3d(-60%, -5%, 0) scale3d(1.6, 1.6, 1.6);
                transform: translate3d(-60%, -5%, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="24" /></filter></svg>#filter');
        -webkit-filter: blur(24px);
                filter: blur(24px);
    }
}
